body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img\carousel-1.jpg); 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #555555;
}

input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
